include .envrc*
include CHANGES.rst
include LICENSE
include README.rst
include requirements.txt
include requirements.txt
include tox.ini
recursive-include sphinxcontrib *.py *.css
recursive-include doc *.rst *.py *.txt
recursive-include tests *.py

prune .direnv
prune .tox
prune .venv*
prune build
prune dist
