sphinx >= 2.0
docutils >= 0.21.2

# -- PACKAGING:
setuptools
setuptools-scm

-r doc/requirements.txt

# -- TESTING:
pytest >= 2.0.2

# -- PYTHON2 BACKPORTS:
pathlib;  python_version <= '3.4'

# -- MORE:
# tox

# -- DEVELOP:
build
ipython
twine
